body {
    background-color: black;
}

#game-background {
    position: relative;
    width: 100%;
    height: 90%;
}


.centered {
    position: absolute;
    top: 2em;
    left: 0;
    bottom: 2em;
    right: 0;
    margin: auto;
}